<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSj8mNSljfqa56_XugssJtCUDbp6hsVFs</string>
	<key>GCM_SENDER_ID</key>
	<string>679992094661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etc</string>
	<key>PROJECT_ID</key>
	<string>clothingapp-5a2f6</string>
	<key>STORAGE_BUCKET</key>
	<string>clothingapp-5a2f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679992094661:ios:ff50213e7704f482e725ac</string>
</dict>
</plist>